*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: 'Lato', sans-serif;
	/* border: 0.05em solid green; */
}

/* ENTIRE PAGE  */
body,
html {
	background-image: linear-gradient(
		to top,
		#ff9a9e 0%,
		#fecfef 99%,
		#fecfef 100%
	);
	background-repeat: no-repeat;
	height: 100%;
}

body {
	display: flex;
	justify-content: space-between;
	border: 0.25em solid black;
}

img {
	height: 4vh;
	width: 3vw;
}

/* LEFT CONTAINER */
.left-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3em 0.1em 0em 0.1em;
	width: 6%;
	/* border: .25em solid black;
  border-right: none; */
}

h2 {
	font-size: 16px;
}

/* CENTER CONTAINER */
.center-container {
	display: flex;
	flex-direction: column;
	width: 70%;
	border-left: 0.25em solid black;
	/* border-right: none; */
	border-radius: 5em 0em 0em 5em;
}

.center-top-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	height: 55%;
}

h1 {
	text-align: center;
	padding: 0.5em;
}

/* STEP CARD */
.step-card {
	display: flex;
	justify-content: flex-end;
	margin: 1em;
	padding: 0.5em;
	height: 65%;
	border: 0.15em solid black;
	border-radius: 2.5em;
}

.step-announcements {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

/* HYDRATION CARD */
.hydration-card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 1em;
	padding: 0.5em;
	height: 84%;
	border: 0.15em solid black;
	border-radius: 2.5em;
}

/* SLEEP CARD */
.sleep-card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 1em;
	padding: 0.5em;
	height: 45%;
	border: 0.15em solid black;
	border-radius: 2.5em;
}

.sleep-announcements {
	display: flex;
	justify-content: space-evenly;
}

section > div > article {
	border: 0.15em solid black;
	border-radius: 1em;
	width: 8%;
}

section > div > article,
section > div > div {
	text-align: center;
}

.today-card {
	width: 15%;
}

/* RIGHT CONTAINER */
.right-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding-top: 3em;
	width: 24%;
	border-left: 0.25em solid black;
	border-radius: 5em 0em 0em 5em;
}

.name-avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-icon {
	height: 14vh;
	width: 10vw;
}

h4 {
	font-size: 24px;
}

/* FRIEND CARD */
.friend-card {
	padding: 1em;
	margin-bottom: 2em;
	width: 90%;
	border: 0.15em solid black;
	border-radius: 2.5em;
}

.friend-display {
	display: flex;
	flex-direction: row;
	padding: 1em;
}

/* 



*/

@media screen and (max-width: 480px) {
	body {
		display: flex;
		flex-direction: column-reverse;
		/* justify-content: space-between; */
		/* border: 0.15em solid green; */
	}
	.left-container {
		display: flex;
		flex-direction: row;
		padding: 0.5em;
		width: auto;
	}
	.center-container,
	.right-container {
		border-left: none;
		border-bottom: 0.25em solid black;
		border-radius: 0em 5em 5em 5em;
		padding: 0.5em;
		width: auto;
	}

	.center-container {
		height: 82vh;
	}
	.center-top-container {
		flex-direction: row;
		height: 35vh;
	}
	h1 {
		display: none;
	}
	.step-card,
	.hydration-card {
		width: 45vw;
		height: 30vh;
		margin: 0;
	}
	.step-announcements {
	}
	.sleep-card {
	}
	.sleep-announcements {
	}
	.right-container {
		height: 9vh;
	}
	.name-avatar {
		flex-direction: row;
	}
	.user-icon {
		height: auto;
		width: 10vw;
	}
	.friend-card {
		display: none;
	}
}

/*  */
